/* this has nothing in it -- sage specifies asset location */
.nav > li ul.sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    background: #151515;
    z-index: 99;
    min-width: 150px;
}
.nav > li:hover ul.sub-menu{
    display: block;
}

.nav > li ul.sub-menu li{
    border-top: 1px solid #292929;
}

.nav > li.menu-item-has-children > a:after{
    width: 0;
    height: 0;
    border: 0.313em solid transparent;
    border-bottom: none;
    border-top-color: #fff;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em;
}

.nav > li ul.sub-menu li:first-child{
    border-top: none;
}

.nav > li ul.sub-menu a{
    display: block;
    text-align: left;
    padding: 10px 20px;
}

.nav > li ul.sub-menu a:hover,
.nav > li ul.sub-menu a:focus{
    background: #292929;   
}

.page-header h1{
    display: block;
}

.widget_ultimate_posts h3{
    margin-bottom: 15px;
}

.widget_ultimate_posts .upw-image{
    margin-bottom: 15px;
}
.widget_ultimate_posts .upw-image img{ height: auto; }

.widget_ultimate_posts .post-title a{
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.staff-wrap{ margin-bottom: 50px; text-align: left; }
.staff-wrap .staff-img{ float: left; margin-right: 25px; }
.widget_ultimate_posts ul li{ margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #ccc; }

.margin-top-bottom{ margin-top: 40px; margin-bottom: 40px; }
.margin-bottom{ margin-bottom: 25px; }

.content-info{ background: #151515; color: #fff;  text-align: left; }
.content-info .widget h3{ margin-bottom: 25px; }
.content-info .widget{ width: 33.333%; float: left; }
.content-info .widget img{ margin-bottom: 10px }
.social-links{ padding: 0 0 15px; }
.social-links a{ font-size: 18px; color: #fff; display: inline-block; border: 1px solid #fff; text-align: center; padding: 7px 10px; min-width: 40px; margin-right: 5px; }
.content-info .contact-us li{ position: relative; padding-left: 20px; }
.content-info .contact-us li > i{ position: absolute; left: 0; top: 3px; }
.copyright-text{ text-align: center; padding: 15px 0; border-top: 1px solid #fff; }
.sidebar{ background: #fff; margin-top: 30px; }
.sidebar section{ padding: 20px 0; }
.sidebar .widget_ultimate_posts{ padding: 30px 0 0; text-align: center; }
.widget_ultimate_posts p{ text-align: center; }
.btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab), .comment-form input[type=submit]:hover:not(.btn-link):not(.btn-flat):not(.btn-fab), .search-form .search-submit:hover:not(.btn-link):not(.btn-flat):not(.btn-fab){ color: #fff; }
img{ max-width: 100%; }
.home-slider{ margin-top: 30px; }
.sponsors-bar{ text-align: center; }
.sponsors-bar .sponsors-img{ margin: 10px 20px; }
.main{ margin-bottom: 30px }
.sidebar{ margin-bottom: 30px; }
header:not(.header){ background: transparent; color: #252525; }
article.post{ margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid #ccc; }
.single-post .comments .reply a,
.nav-previous a{ display: inline-block; padding: 10px 25px; background-color: #61bc47; color: #fff; border-radius: 5px; font-weight: bold; }
article.post .entry-title{ color: #000; font-size: 32px; }
article.post .entry-title a{ color: #000; }
article.post .byline{ text-align: center; }
.single-post .main{ margin-top: 30px; }
.single-post article header h1{ display: block; }
.single-post .comments h2{ margin-bottom: 15px; }
.single-post .comments .comment-meta{margin-bottom: 25px; }
.single-post .comments .comment-meta .comment-author{ margin-bottom: 10px; }
.single-post .comments .comment-list{ margin-bottom: 30px; }
.single-post .comments .comment-body,
.single-post .comments .comment-respond .comment-reply-title,
.single-post .comments .comment-list li{ margin-bottom: 25px; }
.single-post .comments .comment-list li:last-child{ margin-bottom: 0; }


@media only screen and (max-width: 768px){
    .sponsors-bar .sponsors-img{ max-width: 150px; }
}
@media only screen and (max-width: 767px){
    .nav li ul.sub-menu{
        position: static;
        width: 100%;
    }
    .nav > li{
        float: none;
        display: block;
    }
    .nav > li > a{
        text-align: left;
        padding: 10px 20px;
    }
    .nav > li > ul.sub-menu a{
        padding-left: 30px;
    }
    .nav > li.menu-item-has-children > a:after{
        margin: 8px;
        float: right;
    }
    .nav > li ul.sub-menu li:first-child{
        border-top: 1px solid #292929;
    }
    .nav > li ul.sub-menu li:last-child{
        border-bottom: 1px solid #292929;
    }
    .navbar-form{
        margin-top: 0;
    }
    .content-info .widget{ float: none; width: 100%; padding: 10px 0; }
    .content-info{ padding-top: 25px; }
    .copyright-text{ margin-top: 20px; }
    .sidebar .search-form label{ margin-bottom: 0; vertical-align: middle; }
}