/* this has nothing in it -- sage specifies asset location */
.nav > li ul.sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    background: #151515;
    z-index: 99;
    min-width: 150px;
}
.nav > li:hover ul.sub-menu{
    display: block;
}

.nav > li ul.sub-menu li{
    border-top: 1px solid #292929;
}

.nav > li.menu-item-has-children > a:after{
    width: 0;
    height: 0;
    border: 0.313em solid transparent;
    border-bottom: none;
    border-top-color: #fff;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em;
}

.nav > li ul.sub-menu li:first-child{
    border-top: none;
}

.nav > li ul.sub-menu a{
    display: block;
    text-align: left;
    padding: 10px 20px;
}

.nav > li ul.sub-menu a:hover,
.nav > li ul.sub-menu a:focus{
    background: #292929;   
}

.page-header h1{
    display: block;
}

@media only screen and (max-width: 767px){
    .nav li ul.sub-menu{
        position: static;
        width: 100%;
    }
    .nav > li{
        float: none;
        display: block;
    }
    .nav > li > a{
        text-align: left;
        padding: 10px 20px;
    }
    .nav > li > ul.sub-menu a{
        padding-left: 30px;
    }
    .nav > li.menu-item-has-children > a:after{
        margin: 8px;
        float: right;
    }
    .nav > li ul.sub-menu li:first-child{
        border-top: 1px solid #292929;
    }
    .nav > li ul.sub-menu li:last-child{
        border-bottom: 1px solid #292929;
    }
    .navbar-form{
        margin-top: 0;
    }

}