@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
//@import "materialize/materialize"; // hey there! -- so what changes aren't you seeing?

/*  
CrossFit Falls Church 
*/

/* Body and structure
-------------------------------------------------- */

h1 {
  display: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-smooth: always;
}

body {
  color: #252525;
  background: #fff url("../images/body_bg.jpg");
  font-size: 14px;
  position: relative;
  padding-top: 0px;
  margin: 0 !important;
  font-family: 'Open Sans', 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
}

/** COMMON ELEMENTS **/

.img-responsive {
  width: 100%;
}

section {
  padding: 40px 0;
}

li {
  list-style-type: none;
}

* {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100% !important;
}

.title-bar {
  background: #fff;
  margin: 0px auto 40px;
  text-align: left;
  background: #fff;
  padding: 10px;
  text-align: center;
}

.sponsors-bar {
  background: #fff;
  padding: 10px;
  text-align: center;
}

.embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: 500px;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 500px;
  }
}

/* typography and colors */
@font-face {
  font-family: 'introregular';
  src: url('fonts/intro-webfont.eot');
  src: url('fonts/intro-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/intro-webfont.woff2') format("woff2"), url('fonts/intro-webfont.woff') format("woff"), url('fonts/intro-webfont.ttf') format("truetype"), url('fonts/intro-webfont.svg#introregular') format("svg");
  font-weight: normal;
  font-style: normal;
}


h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  &.bigtitle {
    font-size: 48px;
    padding: 10px 0 20px;
  }
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
}

p {
  text-align: justify;
}

a {
  color: #090;
  &:link {
    color: #090;
  }
  &:visited {
    color: #61bc47;
  }
  &:hover {
    color: rgba(97, 188, 71, 0.75);
    text-decoration: none;
  }
}

/** NAVS **/

.navbar-default .navbar-nav > {
  .active > a {
    color: #fff;
    text-transform: uppercase;
    &:hover, &:focus {
      color: #fff;
      text-transform: uppercase;
    }
  }
  li > a {
    color: #fff;
    text-transform: uppercase;
  }
}
.nav{
  & > li{
    float: left;
    
    &.current-menu-item{
      a{
        background: rgba(255, 255, 255, 0.1);
      }
    }
    
    a{
      color: rgba(255, 255, 255, 0.84);
      padding: 20px 15px;
      &:hover, &:focus{
        background: transparent;
      }
      
      ul.sub-menu{
        display: none;
        position: absolute;
        top: 100%;
        background: #151515;
        z-index: 99;
        min-width: 150px;
        
        li{
          border-top: 1px solid #292929;
          
          a{
              display: block;
              text-align: left;
              padding: 10px 20px;
              
              &:hover, &:focus{
                background: #292929;
              }
          }
          &:first-child{
            border-top: none;
          }
        }
      }
      &.menu-item-has-children > a:after{
        width: 0;
        height: 0;
        border: 0.313em solid transparent;
        border-bottom: none;
        border-top-color: #fff;
        content: '';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: -0.313em;
      }
      &:hover{
        ul.sub-menu{
          display: block;
        }
      }
    }
  }
}
.navbar-inverse{
  background-color: transparent;
  border: none;
  .navbar-nav{
    & > li >a{
      color: #fff;
    }
  }
}
.navbar-right{
  .btn-primary{
    margin: 8px 0;
  }
}
@-webkit-keyframes input-highlight {
  0% {
    background-size: 0 2px, 100% 1px;
  }
  100% {
    background-size: 100% 2px, 100% 1px;
  }
}
@keyframes input-highlight {
  0% {
    background-size: 0 2px, 100% 1px;
  }
  100% {
    background-size: 100% 2px, 100% 1px;
  }
}
.navbar-form{
  margin-top: 16px;
  .form-control{
    border-radius: 0;
    height: 28px;
    background-color: #fff;
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    background-image: linear-gradient(#61bc47, #61bc47), linear-gradient(#d2d2d2, #d2d2d2);
    
    &:focus{
      background-image: linear-gradient(#61bc47, #61bc47), linear-gradient(#d2d2d2, #d2d2d2);
      -webkit-animation: input-highlight 0.5s forwards;
      animation: input-highlight 0.5s forwards;
    }
  }
}
button:hover {
  opacity: 0.8;
}

.btn {
  &:active:not(.btn-link):not(.btn-flat):not(.btn-fab) {
    background: #61bc47;
    box-shadow: none;
  }
  &:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
    background: #61bc47;
  }
}

.navbar {
  margin-bottom: 0;
  .navbar-toggle .icon-bar {
    background-color: inherit;
    border: 1px solid #fff;
  }
}

.navbar-toggle {
  background-color: #61BC47;
}

.navbar .navbar-toggle {
  &:hover, &:focus {
    background-color: #61BC47;
  }
  &:hover, &:focus {}
}

/* HEADER */

.nav-box {
  background: #151515;
  .btn.btn-primary {
    background: #61bc47;
    padding: 12px 36px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: #305e23 !important;
    }
  }
}

header {
  background: #050505;
  padding: 0 !important;
  color: #fff;
}

.logobox {
  text-align: left;
  padding: 10px;
}

.cfcf-info {
  text-align: left;
  padding: 10px;
  p {
    text-align: right;
    text-transform: uppercase;
  }
}

.logo {
  width: 100%;
  max-width: 180px;
}

/** VIDEO BACKGROUND **/

#video-bg video {
  width: 100%;
  position: relative;
  height: auto;
  z-index: -100;
  max-height: 700px;
  background: #050505;
  background-size: cover;
  transition: 1s opacity;
  background: #050505 url(images/poster2.jpg) no-repeat 50%;
  background-size: cover;
}

.stopfade {
  opacity: .5;
}

#video-bg {
  h1, p {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  position: relative;
  width: 100%;
  height: auto;
  color: #fff;
  i {
    position: absolute;
    top: 30px;
    right: 30px;
    transition: all 5s ease-in-out !important;
    div {
      transition: all 0.5s ease-in-out !important;
      &:hover, &:active, &:focus {
        background: #252525;
      }
    }
  }
}

.vid-overlay {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align: center;
  * {
    text-align: center;
    text-transform: uppercase;
  }
  button {
    transition: all .5s ease-in-out !important;
    margin: 12px auto;
    padding: 16px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0e874+0,339b1c+100 */
    background: #a0e874;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a0e874 0%, #339b1c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a0e874 0%, #339b1c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a0e874 0%, #339b1c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0e874', endColorstr='#339b1c', GradientType=0);
    /* IE6-9 */
    border-radius: 10px;
    border: 1px solid #7bcd53;
    box-shadow: 0 0 10px #000;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
  }
}

.cta-but {
  transition: all .5s ease-in-out !important;
  margin: 12px auto;
  padding: 16px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0e874+0,339b1c+100 */
  background: #a0e874;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a0e874 0%, #339b1c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a0e874 0%, #339b1c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a0e874 0%, #339b1c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0e874', endColorstr='#339b1c', GradientType=0);
  /* IE6-9 */
  border-radius: 10px;
  border: 1px solid #7bcd53;
  box-shadow: 0 0 10px #000;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

.vid-overlay {
  button:hover {
    opacity: 1;
    box-shadow: 0 0 0px #000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#79af58+0,247314+100 */
    background: #79af58;
    /* Old browsers */
    background: -moz-linear-gradient(top, #79af58 0%, #247314 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #79af58 0%, #247314 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #79af58 0%, #247314 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79af58', endColorstr='#247314', GradientType=0);
    /* IE6-9 */
    font-size: 23.6px;
    border: 1px solid #5ba83e;
  }
  p {
    font-size: 18px;
    padding: 18px;
    max-width: 80%;
    margin: 10px auto;
  }
}

.about-img {
  width: 100%;
  margin: 10px auto 30px;
}

.path {
  padding: 0;
  font-size: 13px;
  h3 {
    font-family: 'introregular';
    font-size: 30px;
    color: #45a82b;
    text-align: left;
    padding: 0;
    margin: 0 auto 8px;
  }
}

.path-icon {
  width: 100%;
  max-width: 64px;
}

.path-to .cta-but {
  color: #fff;
  text-transform: uppercase;
  padding: 6px 18px;
  font-size: 18px;
}

.dotted-path {
  background: transparent url(images/dotted-path.png) repeat-y 50%;
  padding-bottom: 90px;
}

.path:last-child > .dotted-path {
  background: none;
  padding: 0px 0 15px;
}

.card {
  padding: 0px;
  margin: 0 auto 30px;
}

#testimonials .card {
  padding: 18px;
  margin: 0 auto 30px;
}

.cardtitle {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card {
  p {
    padding: 12px;
  }
  h4 {
    padding: 12px;
    text-align: left;
  }
  .avatar img {
    border: 5px solid #050505;
    padding: 0;
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 30px;
  }
}

/** WOD AND NEWS **/

#wod {
  background: #252525 url(../images/news-bg.png);
}

.news ul li {
  padding: 8px 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  p {
    padding: 0 12px;
  }
  a {
    padding: 12px;
    padding: 5px 0;
    display: block;
    margin: 0 0 0px;
  }
}

/**  Cards   **/
.card{
  background: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.84);
  border-radius: 2px;
}
/** Home  **/
.home{
  .wrap.container{
    width: 100%;
    padding: 0;
    
    .main{
      padding: 0;
    }
  }
}
.btn.btn-raised{
  background-color: #050505;
  color: rgba(255, 255, 255, 0.84);
  padding: 8px 30px;
  border: 1px solid #050505;
  border-radius: 2px;
  text-transform: uppercase;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  transition: all ease 300ms;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0);
  
  &:hover, &:focus{
    border-color: #61bc47;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
  }
}

.page-header{
  h1{
    display: block;
  }
}

/** MOBILE AND TABLET DEVICES **/
@media handheld, only screen and (max-width: 768px) {
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  #video-bg {
    width: 100%;
    max-width: 100%;
  }
  .vid-overlay {
    padding: 20px 2%;
    width: 100%;
    position: relative !important;
    bottom: 0;
    top: 0;
    left: 0%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    text-align: center;
    background: #050505 url(images/news-bg.png);
    margin: 0 auto;
    font-size: 18px;
    h1 {
      font-size: 4rem;
    }
    p {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 20px;
    }
  }
  .dotted-path {
    background: none;
    padding: 0px 0 15px;
  }
  .path {
    padding: 0 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    h3 {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 767px ){
  .nav{
    & > li{
        float: none;
        display: block;
        
        ul.sub-menu{
          position: static;
          width: 100%;
          
          a{
            padding-left: 30px;
          }
        }
        
        & > a{
          text-align: left;
          padding: 10px 20px;
        }
        &.menu-item-has-children > a:after{
          margin: 8px;
          float: right;
        }
        &:first-child{
          border-top: 1px solid #292929;
        }
        &:last-child{
          border-bottom: 1px solid #292929;
        }
    }
    .navbar-form{
        margin-top: 0;
    }
  }
}
